table {
  border-spacing: 5px;
}

table th.axis,
table td.axis {
  border: none;
}

th,
td {
  border: 1px solid rgba(136, 136, 136, 0.486);
  padding: 5px;
  transition: all 0.2s;
}

th em,
td em {
  font-style: normal;
}

td {
  text-align: center;
}

th img,
td img {
  max-width: 50px;
}

th.selected,
td.selected {
  background-color: #ffb142;
  border: 1px solid #cc8e35;
}

th.line-selected,
td.line-selected {
  background-color: #ffb0424d;
  border: 1px solid #cc8d3546;
}

th.not-selected,
td.not-selected {
  opacity: 0.5;
}

table tr:nth-of-type(2) th:first-of-type {
  opacity: 1;
  border: 1px solid #cc8d3560;
}

.vertical {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}
